<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fyf"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    
    <application
        android:name="com.example.fyf.FYFApplication"
        android:allowBackup="true"
        android:icon="@drawable/bender03pb"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.fyf.TestCanvasActivity"
            android:label="DrawableTest"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fyf.TestMenuActivity"
            android:label="DrawableTest"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="com.example.fyf.TestVKBActivity"
            android:label="DrawableTest"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="com.example.fyf.TestDrawableActivity"
            android:label="DrawableTest"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="com.example.fyf.TestTranslationActivity"
            android:label="DrawableTest"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="com.example.fyf.TestInflateActivity"
            android:label="DrawableTest"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="com.example.fyf.TestDrawActivity"
            android:label="DrawableTest"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent">
            
        </activity>
        <activity
            android:name="com.example.fyf.TestAttachActivity"
            android:label="DrawableTest"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="com.example.fyf.NotificationActivity"
            android:label="DrawableTest"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="com.example.fyf.PopupWindowActivity"
            android:label="DrawableTest"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name="com.example.fyf.TestTouchEventActivity"
            android:label="DrawableTest"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name="com.example.fyf.TestCoverActivity"
            android:label="DrawableTest"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name="com.example.fyf.TestServiceActivity"
            android:label="DrawableTest"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name="com.example.fyf.AnimateActivity"
            android:label="DrawableTest"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name="com.example.fyf.HitRectActivity"
            android:label="DrawableTest"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name="com.example.fyf.ScrollerActivity"
            android:label="DrawableTest"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name="com.example.fyf.TouchActivity"
            android:label="DrawableTest"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name="com.example.fyf.NightModeActivity"
            android:label="DrawableTest"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name="com.example.fyf.DrawableActivity"
            android:label="DrawableTest"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name="com.example.fyf.SimpleActivity"
            android:label="Simple"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="com.example.fyf.FYFMainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="com.example.fyf.TestActivity"
            android:label="TEST"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <service
            android:name="com.example.fyf.TestService"
            android:exported="false"
            android:process=":test" />
        <service
            android:name="com.example.fyf.ClipBoardService"
            android:exported="false"
            android:process=":clipListen" />
    </application>

</manifest>
